*.csv
*.pkl
*.xlsx
# ignore fuentes folder
/bib/
# ignore pycache
__pycache__/
# ignore logs folder
logs/
# ignore trials folder
trials/
.vscode/
# ignore project files
.Rproj.user
*.RData
*.Rhistory
*.Rproj
# ignore .tex files
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.bcf
*.xml
*.blg
*.toc
# ignore corrida_final/modelos
corrida_final/modelos/